<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<div class="about-container" style="text-align: center;">
  <%= image_tag 'LL_MissionStatement.png', alt: 'Live Lab Mission Statement', style: "display: block; margin: 0 auto;" %>
  <%= image_tag 'LL_About.png', alt: 'Live Lab About Us', style: "display: block; margin: 0 auto;" %>
  <%= link_to "https://www.linkedin.com/company/tamu-live-lab/" do %>
    <%= image_tag 'LL_LinkedIn.png', alt: 'Live Lab LinkedIn', height: 150, width: 150, style: "display: inline-block; margin: 0 auto;" %>
  <% end %>
  <%= link_to "https://www.youtube.com/@livelab7465" do %>
    <%= image_tag 'LL_Youtube.png', alt: 'Live Lab Youtube', height: 150, width: 150, style: "display: inline-block; margin: 0 auto;" %>
  <% end %>
  <%= link_to "https://pvfa.tamu.edu/research/live-lab/" do %>
    <%= image_tag 'LL_Website.png', alt: 'Live Lab Website', height: 150, width: 150, style: "display: inline-block; margin: 0 auto;" %>
  <% end %>
</div>

</div>

