
<% if @games.count.zero? %>
  <p class="no-results-message">No results found.</p>
<% else %>
  <div id="game-list-container">
    <div class="games-container">
      <% @games.each_with_index do |game, index| %>
        <a href="<%= game_path(game) %>" class="game_list_link">
          <div class="image_ctn">
            <% if game.image.present? %>
              <img src="<%= game.image %>" alt="Image 1">
            <% else %>
              <img src="https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg" alt="Default Image">
            <% end %>
          </div>
          <div class="game_info_combined">
            <div class="col game_title_platform">
              <div class="game_title">
                <%= game.game_title %>
              </div>
              <div class="platform">
                <strong>Platform(s):</strong> <%= game.platform %>
              </div>
            </div>
            <div class="publication_year">
              <strong>Publication Year: </strong>
              <%= game.publication_year %>
            </div>
            <div class="cost">
              <strong>Cost: </strong>
              <%= game.cost %>
            </div>
          </div>
        </a>
        <div class="save_button_cnt">
          <%= link_to "Save", saved_games_path(game_id: game.id), data: { turbo_method: :post }, class: "save_button" %>
        </div>
      <% end %>
      <div class="pagination-container">
        <%= will_paginate @games %>
      </div>
    </div>
  </div>
<% end %>
