<div id="<%= dom_id game %>">
  <p>
    <strong>Game Title:</strong>
    <%= game.game_title %>
  </p>
  <p>
    <strong>URL:</strong>
    <%= game.url %>
  </p>
  <p>
    <strong>Source:</strong>
    <%= game.source %>
  </p>
  <p>
    <strong>Researcher:</strong>
    <%= game.researcher %>
  </p>
  <p>
    <strong>Included:</strong>
    <%= game.included %>
  </p>
  <p>
    <strong>Exclusion Notes:</strong>
    <%= game.exclusion_notes %>
  </p>
  <p>
    <strong>Publication Year:</strong>
    <%= game.publication_year %>
  </p>
  <p>
    <strong>Developers:</strong>
    <%= game.developers %>
  </p>
  <p>
    <strong>Publisher:</strong>
    <%= game.publisher %>
  </p>
  <p>
    <strong>Is this game used in classrooms?</strong>
    <%= game.used_in_class %>
  </p>
  <p>
    <strong>Is this game downloadable/accessible?</strong>
    <%= game.downloadable %>
  </p>
  <p>
    <strong>Is support for this game discontinued?</strong>
    <%= game.discontinued %>
  </p>
  <p>
    <strong>Generalized Subject:</strong>
    <%= game.generalized_subject %>
  </p>
  <p>
    <strong>Primary Subject:</strong>
    <%= game.subject1 %>
  </p>
  <p>
    <strong>Secondary Subject:</strong>
    <%= game.subject2 %>
  </p>
  <p>
    <strong>Subject Remainder:</strong>
    <%= game.remainder %>
  </p>
  <p>
    <strong>Where is this game taught?</strong>
    <%= game.teaching %>
  </p>
  <p>
    <strong>Colleges that use this game:</strong>
    <%= game.college_users %>
  </p>
  <p>
    <strong>Cost:</strong>
    <%= game.cost %>
  </p>
  <p>
    <strong>Type:</strong>
    <%= game.game_type %>
  </p>
  <p>
    <strong>Genre:</strong>
    <%= game.genre %>
  </p>
  <p>
    <strong>Tags:</strong>
    <%= game.tags %>
  </p>
  <p>
    <strong>Length:</strong>
    <%= game.game_time %>
  </p>
  <p>
    <strong>Is this game 2D or 3D?</strong>
    <%= game.dimensions %>
  </p>
  <p>
    <strong>Does this game have sound?</strong>
    <%= game.sound %>
  </p>
  <p>
    <strong>Platform(s):</strong>
    <%= game.platform %>
  </p>
  <p>
    <strong>Is there a Spanish Localization?</strong>
    <%= game.spanish %>
  </p>
  <p>
    <strong>Is this game localized in any other languages?</strong>
    <%= game.other_languages %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= game.notes %>
  </p>

</div>