
<body>
<!--<p style="color: green"><%#= notice %></p>-->

<div class="body-content">
  <h1>Games</h1>

  <%= form_with url: games_path, method: :get, id: 'games_form', local:true do |form| %>
    <div class="search-container">
      <div class="searchbar">
        <%= form.text_field :search, placeholder: "Search...", value: params[:search]%>
        <%= form.submit "Search", class: "searchbar-button" %>
      </div>
      <div class="sortbox">
        <div class="label">Sort by</div>
        <div class="select">
          <%= form.select :sort_by,
                          ['Relevance', 'Title', 'Publication Year', 'Lowest Price', 'Highest Price'],
                          { selected: @sort_by },
                          { onchange: "this.form.submit();", id: "sort-by-dropdown" }%>
        </div>
      </div>
    </div>

  <div class="button-container">
    <%= link_to "Return to main", main_page_path, class: "button" %>
    <div style="margin-right: 30px;"></div> <!-- Adding a margin of 30px between the buttons -->
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "New Game", new_game_path, class: "button" %>
    <% end %>
  <!--    <link rel="stylesheet" href="game_index.css">-->
    <%= stylesheet_link_tag 'game_index', media: 'all', 'data-turbolinks-track': 'reload' %>
  </div>

    <div class="page_content_cnt">
      <div class="left_page">
        <%= render 'game_list', games: @games %>
      </div>
      <div class="right_page">
        <div class="filter-item">
          <label>Price Range:</label>
          <div class="checkbox_ctn">
            <div class="checkbox_pair">
              <%= form.check_box :price_range_free, { class: 'filter-checkbox', checked: params[:price_range_free]&.include?('true'), onchange: "this.form.submit();"}, 'true', false %>
              <%= label_tag 'price_range_free', 'Free' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :price_range_0to10, { class: 'filter-checkbox', checked: params[:price_range_0to10]&.include?('true'), onchange: "this.form.submit();"}, 'true', false %>
              <%= label_tag 'price_range_0_10', '$0 - $10' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :price_range_10to20, { class: 'filter-checkbox', checked:  params[:price_range_10to20]&.include?('true'), onchange: "this.form.submit();"}, 'true', false %>
              <%= label_tag 'price_range_10_20', '$10 - $20' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :price_range_above20, { class: 'filter-checkbox', checked: params[:price_range_above20]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'price_range_above20', 'Above $20' %>
            </div>
          </div>
        </div>
        <div class="filter-item">
          <label>Platform</label>
          <div class="checkbox_ctn">
            <div class="checkbox_pair">
              <%= form.check_box :platform_windows, { class: 'filter-checkbox', checked: params[:platform_windows]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'platform_windows', 'Windows' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :platform_mac, { class: 'filter-checkbox', checked: params[:platform_mac]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'platform_mac', 'Mac' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :platform_steam, { class: 'filter-checkbox', checked: params[:platform_steam]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'platform_steam', 'Steam' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :platform_web, { class: 'filter-checkbox', checked: params[:platform_web]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'platform_web', 'Web' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :platform_pc, { class: 'filter-checkbox', checked: params[:platform_pc]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'platform_pc', 'PC' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :platform_mobile, { class: 'filter-checkbox', checked: params[:platform_mobile]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'platform_mobile', 'Mobile' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :platform_html5, { class: 'filter-checkbox', checked: params[:platform_html5]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'platform_html5', 'HTML5' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :platform_vr, { class: 'filter-checkbox', checked: params[:platform_vr]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'platform_vr', 'VR' %>
            </div>
          </div>
        </div>
        <div class="filter-item">
          <label>Number of Players</label>
          <div class="checkbox_ctn">
            <div class="checkbox_pair">
              <%= form.check_box :genre_single, { class: 'filter-checkbox', checked:  params[:genre_single]&.include?('true'), onchange: "this.form.submit();"}, 'true', false %>
              <%= label_tag 'genre_single', 'Single-player' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :genre_multi, { class: 'filter-checkbox', checked:  params[:genre_multi]&.include?('true'), onchange: "this.form.submit();"}, 'true', false %>
              <%= label_tag 'genre_multi', 'Multi-player' %>
            </div>
          </div>
        </div>
        <div class="filter-item">
          <label>Subject</label>  <!-- art, biology, ecology, medical, math, nursing, language, geography -->
          <div class="checkbox_ctn">
            <div class="checkbox_pair">
              <%= form.check_box :subject_art, { class: 'filter-checkbox', checked: params[:subject_art]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'subject_art', 'Art' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :subject_biology, { class: 'filter-checkbox', checked: params[:subject_biology]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'subject_biology', 'Biology' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :subject_ecology, { class: 'filter-checkbox', checked: params[:subject_ecology]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'subject_ecology', 'Ecology' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :subject_medical, { class: 'filter-checkbox', checked: params[:subject_medical]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'subject_medical', 'Medical' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :subject_nursing, { class: 'filter-checkbox', checked: params[:subject_nursing]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'subject_nursing', 'Nursing' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :subject_math, { class: 'filter-checkbox', checked: params[:subject_math]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'subject_math', 'Math' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :subject_language, { class: 'filter-checkbox', checked: params[:subject_language]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'subject_language', 'Language' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :subject_geography, { class: 'filter-checkbox', checked: params[:subject_geography]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'subject_geography', 'Geography' %>
            </div>
          </div>
        </div>
        <div class="filter-item">
          <label>2D/3D</label>
          <div class="checkbox_ctn">
            <div class="checkbox_pair">
              <%= form.check_box :dimensions_2D, { class: 'filter-checkbox', checked: params[:dimensions_2D]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'dimensions_2D', '2D' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :dimensions_3D, { class: 'filter-checkbox', checked: params[:dimensions_3D]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'dimensions_3D', '3D' %>
            </div>
          </div>
        </div>
        <div class="filter-item">
          <label>Other Features</label>
          <div class="checkbox_ctn">
            <div class="checkbox_pair">
              <%= form.check_box :other_features_uic, { class: 'filter-checkbox', checked: params[:other_features_uic]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'other_features_uic', 'Used in Classroom' %>
            </div>
            <div class="checkbox_pair">
              <%= form.check_box :other_features_downloadable, { class: 'filter-checkbox', checked: params[:other_features_downloadable]&.include?('true'), onchange: "this.form.submit();" }, 'true', false %>
              <%= label_tag 'other_features_downloadable', 'Downloadable' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</body>
