<p style="color: green"><%= notice %></p>

<h1>Games</h1>

<%= link_to "Return to main", main_page_path, class: "button" %>
<div id="games">
  <% @games.each do |game| %>
    <%= render game %>
    <p>
      <%= link_to "Show this game", game %>
    </p>
  <% end %>
</div>

<%= link_to "New Game", new_game_path %>
