<p style="color: green"><%= notice %></p>

<h1>Games</h1>

<%= link_to "Return to main", main_page_path, class: "button" %>
<%= link_to "New Game", new_game_path, class: "button" %>
<div id="games">
  <% @games.each do |game| %>
    <div id="game_<%= game.id %>">
      <p>
        <strong>Game Title:</strong>
        <%= game.game_title %>
      </p>
      <p>
        <strong>URL:</strong>
        <%= game.url %>
      </p>
      <p>
        <strong>Platform(s):</strong>
        <%= game.platform %>
      </p>
      <%#= render game %>
    </div>
    <p>
      <%= link_to "Show this game", game %>
    </p>
  <% end %>
</div>

<%= will_paginate @games %>
