<h1>All Games with Cost</h1>
<div class="button-container">
  <%= link_to "Return to main", main_page_path, class: "button" %>
  <div style="margin-right: 30px;"></div> <!-- Adding a margin of 30px between the buttons -->
  <link rel="stylesheet" href="game_index.css">
</div>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Latest Game</th>
    </tr>
  </thead>
  <tbody>
    <% Game.order(publication_year: :asc).each do |game| %>
      <% if game.publication_year == "free" %>
        <tr>
          <td><%= game.game_title %></td>
          <td><%= game.publication_year.present? ? game.publication_year : 'info not included' %></td>
        </tr>
      <% end %>
    <% end %>
    <% Game.where.not(publication_year: "free").order(publication_year: :asc).each do |game| %>
      <tr>
        <td><%= game.game_title %></td>
        <td><%= game.publication_year.present? ? game.publication_year : 'info not included' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
