<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Information</title>
</head>
<body>

<p style="color: green"><%= notice %></p>

<h1>Game Information</h1>

<div class="games-container">
  <table>
    <% @game.attributes.each do |attribute, value| %>
      <tr>
        <th><%= attribute.titleize %></th>
        <% if attribute == "image" %>
          <td><a href="<%= value %>"><img src="<%= value %>" alt="Game Image"></a></td>
        <% elsif attribute == "url" %>
          <td><a href="<%= value %>"><%= value %></a></td>
        <% else %>
          <td><%= value %></td>
        <% end %>
      </tr>
    <% end %>
  </table> 
</div>

<% if user_signed_in? %>
  <% if current_user.admin? || current_user.moderator? %>
    <%= link_to "Edit this game", edit_game_path(@game), class: "button" %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.admin? %>
  <%= link_to "Destroy this game", @game, method: :delete, data: { turbo_confirm: "Are you sure to delete?", disable_with: "Processing..."}, class: "button" %>
  <% end %>
<% end %>

<%= link_to "Back to games", games_path, class: "button" %>

</body>
</html>
