<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Information</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<p style="color: green"><%= notice %></p>

<h1>Game Information</h1>

<div class="games-container">
<%= link_to "Visit this Game", @game.url, class:  "custom-button button-1" %>
</div>

<div class="games-container">
  <table>
    <% @game.attributes.each do |attribute, value| %>
      <tr>
        <th><%= attribute.titleize %></th>
        <% if attribute == "image" %>
          <td><a href="<%= value %>"><img src="<%= value %>" alt="Game Image"></a></td>
        <% else %>
          <td><%= value %></td>
        <% end %>
      </tr>
    <% end %>
  </table> 
</div>

<div class="container1">
  <% if user_signed_in? %>
    <% if current_user.admin? || current_user.moderator? %>
      <%= link_to "Edit this game", edit_game_path(@game), class:  "custom-button button-1" %>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <% if current_user.admin? %>
    <%= button_to "Destroy this game", @game, method: :delete, class:  "custom-button btn-danger",
                  data: { turbo_confirm: "Are you sure to delete?", disable_with: "Processing..."} %>
    <% end %>
  <% end %>

  <%= link_to "Back to games", games_path , class:  "custom-button button-1" %>
</div>

</body>
</html>
